# copy this file in db.env and fullfill the corresponding values to your environment
#
# possible values of ENVIRONMENT are development, production
DJANGO_SETTINGS_MODULE=ecommerce.settings.ENVIRONMENT
SECRET_KEY=
DATABASE_NAME=
# if you don't want to use root, you need to change the db.env file too, providing it with MYSQL_USER and MYSQL_PASSWORD
DATABASE_USER=root
DATABASE_PASSWORD=
# you shouldn't touch this
DATABASE_HOST=db
DATABASE_PORT=3306
