<!DOCTYPE html>

{% load static bootstrap4 i18n %}

<html>
  <head>

    <title>
      {% block title %}
        {% trans "Catalogue app" %}
      {% endblock %}
    </title>

    {% block extra_head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% bootstrap_css %}

      <link rel="stylesheet" type="text/css" href="{% static "catalogue/css/style.css" %}">
    {% endblock extra_head %}

  </head>

  <body>
    {% block body %}

      <div class="container">

        {% block header %}
          <h1>{% trans "Catalogue app" %}</h1>
        {% endblock header %}

        {% block menu %}{% endblock %}

        {% block content_title %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

      </div>

    {% endblock body %}

    {% block extra_body %}
      {% bootstrap_javascript jquery='full' %}
    {% endblock extra_body %}
  </body>

</html>
