{% extends "catalogue/base.html" %}

{% load static i18n %}

{% block content_title %}
  <h2>
    {{ product.title }}
    <span class="float-right badge badge-info">{{ product.price }}</span>
  </h2>
{% endblock content_title %}

{% block content %}

  {% static "catalogue/images/no_photo.png" as no_photo %}

  <div class="row mt-5">
    <div class="col-6">
      <img style="width: 100%;" src="{{ product.image.medium.url|default:no_photo }}" alt="{% trans "Product image" %}">
    </div>
    <div class="col-6 font-weight-light">
      {{ product.description }}
    </div>
  </div>
{% endblock content %}
